{
    servers {
        protocols h1 h2
    }
}

*.dev.dms-lookup.com {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    @frontend host app.dev.dms-lookup.com
    handle @frontend {
            reverse_proxy http://front-end {
        }
    }
}
